# Node
node_modules/
frontend/node_modules/
backend/node_modules/

# Serverless
.serverless/
backend/.serverless/
backend/serverless.yml/

# Build
dist/
build/

# Env
.env
client/.env
server/.env

# Logs
*.log

# OS
.DS_Store
